<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul>
                <div class="form-control-static">
                    <ul class="nav nav-pills label">
                        <li><a href="../favourites">Favourites</a></li>
                        <li><a href="/leagues">League List</a></li>
                        <li><a href="/leagues/{{league.id}}">{{league.caption}}</a></li>
                        <li><a href="/favourites/{{favId}}">{{favId}}</a></li>
                    </ul>
                </div>
                <div>
                    {{#each fixtures}}
                        <article >
                            <div class="panel panel-warning ">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        {{date}}
                                    </h3>
                                </div>

                                <span><a class="alert" href="/teams/{{homeTeamId}}">{{homeTeamName}}</a></span>
                                <span>{{result.goalsHomeTeam}}</span>
                                <span> VS </span>
                                <span>{{result.goalsAwayTeam}}</span>
                                <span><a class="alert" href="/teams/{{awayTeamId}}">{{awayTeamName}}</a></span>
                            </div>
                        </article>
                    {{/each}}
                </div>
            </ul>
        </div>
    </div>
</div>
