<section class="jumbotron">
    <article>

        <dl class="dl-horizontal">
            <dt>Name:</dt><dd>{{team.name}}</dd>
            <dt>Team code:</dt><dd>{{team.code}}</dd>
            <dt>Shortname:</dt><dd>{{team.shortName}}</dd>
            <dt>Market Value:</dt><dd>{{team.squadMarketValue}}</dd>
            <dd><img class="img-thumbnail" src="{{team.crestUrl}}" alt="{{team.name}}" height="250" width="250"/></dd>
        </dl>
    </article>

</section>
